{% extends 'store/store.html' %}
{% block products %}

{% if searched %}
<br>
<h2>
    You searched for: <small> {{searched}} </small>
</h2>
<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for p in searched_products %}
        <div class="col mb-5" id="ctg">
            <div class="card h-100">
                <!-- Product image-->
                <img alt="..." class="card-img-top thumbnail" src="{{p.imgURL}}"/>
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{p.name}}</h5>
                        <!-- Product price-->
                        {{p.price|floatformat:2}} DT
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <!--                            <a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>-->
                        <button class="btn btn-outline-dark mt-auto  add-btn update-cart" data-action="add"
                                data-product="{{p.id}}">Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <br>
        <h2>
            Sorry! you forgot to search for a product..
        </h2>
        {% endif %}
        {% endblock products %}
